/* 3RD SECTION ACTIVITES*/

.activity__Part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 100%;
  width: 98.5%;
}

.marseille-align {
  margin-left: 20px;
}

.activites_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.activites_section img {
  height: 450px;
  width: 400px;
  border-radius: 15px 15px 0 0;
  max-width: 100%;
  object-fit: cover;
}

figure {
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 1px 2px 5px rgb(211, 206, 206);
  width: auto;
  margin-left: 15px;
  margin-right: 10px;
}

h4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px 0 20px 15px;
}

.activites__Fort-et-Iles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

.activites__Dame-et-Parc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

.activites__Fort-de-Pomegues--align {
  height: 280px;
  width: auto;
}

.activites__Fort-de-Pomegues--align img {
  height: 220px;
  width: 350px;
}

.activites__Iles-du-Frioul--align {
  height: 195px;
  width: auto;
  margin-top: 25px;
}

.activites__Iles-du-Frioul--align img {
  height: 135px;
  width: 350px;
}

.activites__Notre-Dame-de-la-Garde--align {
  height: 200px;
  width: auto;
}

.activites__Notre-Dame-de-la-Garde--align img {
  height: 150px;
  width: 350px;
}

.activites__Parc-Longchamp--align {
  height: 268px;
  width: auto;
  margin-top: 30px;
}

.activites__Parc-Longchamp--align img {
  height: 210px;
  width: 350px;
}
