/* 3RD SECTION ACTIVITES*/
.Troisième_section {

    
   margin-top: 50px;
   height: 450px;
   
}

.Activités {

   margin-top: -15px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;


}

.Activités img {

   height: 450px;
   width: 300px;
   border-radius: 15px 15px 0 0;
   margin-left: 0px;
   
}


figure {

   margin-left: 0px;
   border: 1px solid white;
   border-radius: 15px;
   box-shadow: 0 2px 5px rgb(211, 206, 206);
   height: 510px;
   width: 299px;
   
}


.Activités__Vieux-Port--align {

   margin-left: 0px;
}


.Activités__Vieux-Port--Desc {

   padding-left: 20px;
}

.Activités__Fort-et-Iles {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.Activités__Fort-et-Iles p {

   margin-left: 18px;
}


.Activités__Fort-de-Pomègues--align {

   height: 280px;

}

.Activités__Fort-de-Pomègues--align img {

   height: 220px;
}

.Activités__Iles-du-Frioul--align {

   height: 195px;
}

.Activités__Iles-du-Frioul--align img {

   height: 135px;
}

.Activités__Parc-national-des-Calanques p {

   margin-left: 18px;
}


.Activités__Notre-Dame-de-la-Garde--align {

   height: 200px;
   width: 275px;
}

.Activités__Notre-Dame-de-la-Garde--align img {

     height: 150px;
     width: 275px;

}

.Activités__Parc-Longchamp--align {

   height: 268px;
   width: 275px;
   margin-top: 40px;

}

.Activités__Parc-Longchamp--align img {

   height: 210px;
   width: 275px;
}

.Activités__Dame-et-Parc p {

   margin-left: 18px;
}
