.filters__searchbar {
  line-height: 2.1em;
  margin: 30px 0 0 40px;
  padding-left: 0px;
}

.filters__searchbar .filtre__recherche form {
  margin: 0;
}

.filters__searchbar .filtre__recherche {
  display: flex;
}

.filters__searchbar .filtre__recherche i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: auto;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.filtre__recherche input {
  line-height: 2.1em;
  border: 1px solid #f2f2f2;
  width: 200px;
}

.filtre__recherche .loupe {
  display: none;
}

.input__style::placeholder {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  text-align: start;
}

.filters__searchbar .button-research {
  background-color: #0065fc;
  color: white;
  padding: 0 20px 0 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
}

.filters__searchbar .filtre--recherche--ajust {
  display: flex;
  margin: 15px 0 25px 0;
  flex-wrap: wrap;
}

/* Filtre - Rubrique  */

.filters__searchbar .rubriques {
  display: flex;
  flex-wrap: wrap;
}

.filters__searchbar .logo__devise h3 {
  font-size: 1.4rem;
}

.filters__searchbar .display-icon-title {
  display: flex;
  margin-top: 20px;
  margin-left: 35px;
  border-radius: 30px;
  border: 1px solid #b9b4b4;
  height: 50px;
  text-align: center;
  color: #0065fc;
}

.filters__searchbar .display-icon-title i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.filters__searchbar .display-icon-title span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #deebff;
  padding: 15px;
}

.filters__searchbar .display-icon-title p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: black;
  font-weight: bolder;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.filters__searchbar .display-icon-title:hover {
  background-color: rgb(32, 211, 196);
  font-style: italic;
}

.filters__searchbar .align--single {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px 0 10px 0;
  font-size: 1.5rem;
}

.filters__searchbar .unbold--single span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  margin-right: 10px;
  padding: 8px;
  width: 10px;
  height: 10px;
  font-size: 0.8rem;
}

.filters__searchbar .unbold--single span i {
  color: #0065fc;
}

.filters__searchbar .unbold--single {
  display: flex;
  font-weight: normal;

  margin: 0;
}
