.filters__searchbar {
  line-height: 2.1em;
  margin: 30px 0 0 40px;
  padding-left: 0px;
}

.filters__searchbar .filtre__recherche form {
  margin: 0;
  max-width: 100%;
}

.filters__searchbar .filtre__recherche {
  display: flex;
}

.filters__searchbar .filtre__recherche i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: auto;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.filtre__recherche input {
  line-height: 2.1em;
  border: 1px solid #f2f2f2;
  width: 30%;
}

.filters__searchbar label a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0065fc;
  color: white;
  padding: 12px 16px 12px 16px;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
}

.filters__searchbar .filtre--recherche--align {
  display: flex;
  margin: 15px 0 15px 0;
}

/* Filtre - Rubrique  */

.filters__searchbar .rubriques {
  display: flex;
  width: 60%;
}

.filters__searchbar .logo__devise h3 {
  font-size: 1.4rem;
}

.filters__searchbar .display-icon-title {
  display: flex;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #b9b4b4;
  height: 50px;
  text-align: center;
  color: #0065fc;
}

.filters__searchbar .display-icon-title i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.filters__searchbar .display-icon-title span {
  display: flex;
  border-radius: 50px;
  height: auto;
  width: auto;
  background-color: #deebff;
  padding: 15px;
}

.filters__searchbar .display-icon-title p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: black;
  font-weight: bolder;
  margin: 5px;
}

.filters__searchbar .display-icon-title:hover {
  background-color: rgb(32, 211, 196);
  font-style: italic;
}

.filters__searchbar .align--single {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px 0 10px 0;
  font-size: 1.5rem;
}

.filters__searchbar .unbold--single i {
  color: #0065fc;
}

.filters__searchbar .unbold--single {
  font-weight: normal;
  margin: 0;
}
