/* 4TH SECTION FOOTER */
.Informations_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 250px;
  width: auto;
  background-color: #f2f2f2;
}

.Informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.Informations__A-propos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 100%;
}

.Informations__A-propos strong {
  font-weight: bolder;
}

.Informations__A-propos p {
  font-weight: normal;
}

.Informations__A-propos strong {
  font-weight: bolder;
}

.Informations__A-propos p {
  font-weight: normal;
}
