/* 4TH SECTION FOOTER */
.informations_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  width: auto;
  background-color: #f2f2f2;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.informations__A-propos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 100%;
}

.informations__A-propos strong {
  font-weight: bolder;
}

.informations__A-propos p {
  font-weight: normal;
}

.informations__A-propos strong {
  font-weight: bolder;
}

.informations__A-propos p {
  font-weight: normal;
}
