@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("truetype"),
    url("../fonts/Raleway-ExtraBold.eot") format("eot"),
    url("../fonts/Raleway-ExtraBold.woff") format("woff"),
    url("../fonts/Raleway-ExtraBold.svg") format("svg");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf") format("truetype"),
    url("../fonts/Raleway-Regular.eot") format("eot"),
    url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.svg") format("svg");
}

body {
  font-family: "Raleway", sans-serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  margin: 20px 0 20px 0;
}

header .logo {
  height: 50px;
  width: auto;
  padding-left: 40px;
}

.logo__devise h3 {
  margin: 10px 0 10px 40px;
}

.logo__devise p {
  margin: 10px 0 10px 40px;
}

/* NAVIGATION LINKS*/

header .nav {
  margin-left: auto;
  width: auto;
}
header .nav ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  width: auto;
}

header .nav ul li {
  margin-right: 60px;
  color: black;
  border-top: 2px solid #ffffff;
}

header .nav ul li:hover {
  border-top: 2px solid #0065fc;
}

header .nav ul li a {
  text-decoration: none;
  color: black;
  padding: 25px;
}

header .nav ul li a h4 {
  padding: 0;
  margin: 0 25px 0 25px;
}

header .nav ul li a:hover {
  color: #0065fc;
}

header .sign-up {
  display: flex;
  align-items: center;
  color: #0065fc;
  font-weight: bold;
  margin-right: 30px;
}
