/* Hebergements */

.hebergements__Populaires {
  display: flex;
  width: auto;
  padding-left: 25px;
}

.hebergements {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 70%;
  height: auto;
  margin: 10px;
}

.hebergements__titre h3 {
  margin: 40px 0 0 4%;
  font-weight: bolder;
  font-size: 1.4em;
}

.hebergements__cellule {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  width: auto;
}

.hebergements__cellule img {
  width: 370px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

strong {
  font-weight: bold;
}

.hebergements__Cellule--Hotel {
  background-color: white;
  box-shadow: 1px 1px 10px gray ;
  margin: 20px 0 0 30px;
  padding: 5px;
  border-radius: 20px;
  height: auto;
  width: auto;
}
.hotel_title {
  font-weight: 900;
}

.hebergements__Cellule--Hotel p {
  margin: 0;
  padding: 2px;
}

.hebergements__Cellule--Hotel .hotel_title {
  padding-left: 10px;
}

.hebergements__Cellule--Hotel .nuit {
  padding-left: 10px;
}

.rating_Star {
  color: #0065fc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding-left: 10px;
}

.hebergements__Cellule--Hotel .rating_Star i {
  color: #0065fc;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.afficher_plus {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 900;
  margin: 40px 0 30px 50px;
}
