/* Hebergements */

.Hebergements_et_Populaires {
  display: flex;
  height: auto;
}

.Hebergements {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: auto;
  height: auto;
  margin: 10px;
}

.Hebergements__titre h3 {
  margin: 40px 0 0 35px;
  font-weight: bolder;
  font-size: 1.4em;
}

.Hebergements__cellule {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.Hebergements__cellule img {
  width: 270px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

strong {
  font-weight: bold;
}

.Hebergements__Cellule--Hotel {
  background-color: white;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  height: auto;
  width: auto;
}
.hotel_title {
  font-weight: 900;
}

.Hebergements__Cellule--Hotel p,
i {
  margin: 0;
  padding: 2px;
}

.Hebergements__Cellule--Hotel .hotel_title {
  padding-left: 10px;
}

.Hebergements__Cellule--Hotel .Nuit {
  padding-left: 10px;
}

.Rating_Star {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding-left: 10px;
}

.Hebergements__Cellule--Hotel .Rating_Star i {
  color: #0065fc;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.Afficher_plus {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 900;
  margin: 10px 0 40px 30px;
}
