/* Hebergements */

.hebergements__Populaires {
  display: flex;
  width: auto;

  margin-top: 20px;
  padding-left: 25px;
}

.hebergements {
  background-color: #f2f2f2;
  border-radius: 15px;
  width: 60%;

  margin: 10px 10px 10px 10px;
}

.hebergements__titre h3 {
  margin: 40px 0 10px 7%;
  font-weight: bolder;
  font-size: 1.4em;
}

.hebergements__cellule {
  display: flex;
  flex-wrap: wrap;

  margin-left: 4.5%;
  width: 100%;
  height: 75%;
}

.hebergements__cellule img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

strong {
  font-weight: bold;
}

.hebergements__Cellule--Hotel {
  background-color: white;
  box-shadow: 1px 1px 10px gray;
  margin: 20px 1% 0 2%;
  padding: 5px;
  border-radius: 20px;
  height: auto;
  width: 26%;
}

.hotel_title {
  font-weight: 900;
}

.hebergements__Cellule--Hotel p {
  margin: 0;
  padding: 2px;
}

.hebergements__Cellule--Hotel .hotel_title {
  padding-left: 10px;
}

.hebergements__Cellule--Hotel .nuit {
  padding-left: 10px;
}

.rating_Star {
  color: #0065fc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 10px;
}

.hebergements__Cellule--Hotel .rating_Star i {
  color: #0065fc;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.hebergements .gray__font i {
  color: #f2f2f2;
}

.afficher_plus {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 900;
  margin: 77.5px 0 5% 7%;
}
