@media all and (min-width: 1177px) and (max-width: 1385px) {
  header .nav ul li {
    margin-right: 30px;
  }

  .hebergements__Cellule--Hotel {
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    margin: 20px 1.35% 1.2% 1.35%;
    padding: 5px;
    border-radius: 20px;
    height: auto;
    width: 40%;
  }

  .hebergements__titre h3 {
    margin: 40px 0 10px 8%;
    font-weight: bolder;
    font-size: 1.4em;
  }

  .afficher_plus {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 900;
    height: auto;
    margin: 12% 0 2% 7%;
  }

  .marseille-align {
    margin-left: 1%;
    font-size: 1.1rem;
  }
}
