@media all and (min-width: 720px) and (max-width: 960px) {
  header .nav ul li {
    margin-right: 30px;
  }

  .hebergements__Cellule--Hotel {
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    margin: 20px 1.35% 1.2% 1.35%;
    padding: 5px;
    border-radius: 20px;
    height: auto;
    width: 32%;
  }
}
