 /*MEDIA QUERRIES - Tablette FORMAT */




 @media screen and (min-width: 768px) and (max-width: 991px)

 {
 
    .General__rules {
 
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       
       width: 900px;
       
       font-family: 'Raleway' ,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: 1em;
 
       
      } 
                                                           /* HEADER QUERRIES IPHONE */
 header {
 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
     width: auto;
     
     
 }
 
 .welcome {
 
   
   line-height: 1.5em;
 }
 
 
 .logo {
 
   margin-bottom: 30px;
   height: 50px ;
   width: 90px ;
  }
 
   
 
 }
 
  .logo__devise {
 
   font-size: 1.1em;
   line-height: 0.4em;
   position: relative;
   top: 0px;
  }
 
 
                                                       /* NAVIGATION LINKS - QUERRIES - IPHONE*/
  .nav {
 
          
          margin-bottom: 0px;
         
    }
                   
    
    .nav ul {
 
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      
   }
 
 .nav ul li a {
 
   text-decoration: none;
   color: black;
   font-size: 1.3em;
    
    
  }
 
  .nav ul li {
 
   margin-right: 10px ;
   padding-top: 0px;
   color: black;
 }
 
 

 
   .nav li:hover {
 
    border-top: none ;
    color: rgb(72, 162, 247);
 }
 
 
                                  /* HEADER -- Filtre - Rubrique - QUERRIES - IPHONE */

.filtre__recherche {
 
   display: flex;
   justify-content: space-between;
   border-radius: 10px;    

}


 .filtre__recherche input {
 
   line-height: 2.1em ;
     border: 1px solid white;
     width: 300px;
     height: 45px;
}

.filtre__recherche i {
 
   height: 33px;
   width: 25px;
   padding-left: 15px;
   padding-top: 10px;
   background-color: rgb(202, 205, 207);
   border-radius: 10px 0 0 10px;
   
 }

 form {

    margin-left: 20px;
 }
 
 label a {
 
    background-color: rgb(10, 105, 247);
    color: white;
    padding: 10px 17px 12px 10px;
    border-radius:  0 10px  10px 0;
    text-decoration: none;
    height: 45px;
 }
 
 .filtre--recherche--align  {
 
   display: flex;
     justify-content: space-around;
     margin-top: 10px;
     margin-left: 0px;
     width: 500px;
     
     
     
    
 }
 
 .filtre--recherche--align p {
 
    
    border-radius: 50px;
    margin-top:0px;
    padding: 8px;
    Flex-wrap: wrap;
    margin-left: 5px;
    width: 180px;
    
 }

 .align--single {
 
   position: relative;
   top: 10px;
   right: 20px;
   padding : 5px 5px 5px 5px;
   font-size: 1.5em;

 }

 .unbold--single {
  
    font-weight: normal;
    margin-left: 45px;
    
} 

 
 .Rubriques    {
 
    
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   position: relative;
   right: 40px;
 
 }        
 
 .displayIconTitle {
 
  display: flex;
  margin-right: 0px;
  
  border: 1px solid gray;
  width: 130px;
  height: 20px;
  text-align: center;
  color:rgb(10, 105, 247)
  
}

.displayIconTitle span {
  
  border-radius: 50px;
  height: 15px;
  width: 20px;
  padding: 20px;
  background-color: #DEEBFF
  
}
 
 

 .displayIconTitle p {

  position: relative;
  bottom: 8px;
  right: 25px;
  color: black;
}
 
 
 .displayIconTitleA {

  display: flex;
  margin-right: 0px;
  border: 1px solid gray;
  width: 215px;
  height: 20px;
  text-align: center;
  padding-right: 0px;
  color:rgb(10, 105, 247)
  

}

.displayIconTitleA span {
 
  border-radius: 50px;
 height: 15px;
 width: 20px;
 padding: 20px;
 background-color: #DEEBFF
 
}

 

 .displayIconTitleA p {

  position: relative;
  bottom: 8px;
  right: 25px;
  color: black;
}


                                                             /* 2ND SECTION QUERRIES - TABLETTE*/


  /* Hébergements - QUERRIES - IPHONE*/



 .Hebergements_et_Populaires {
 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: auto;
 
 }                                                           

 .Hebergements__titre {
 
   padding-top: 30px;
   padding-bottom: 20px;
   margin-left: 25px;
   font-weight: bolder;
   font-size: 1.1em;
 }
 
 .Hebergements {  

 
   background-color: rgb(241, 232, 232);
   border-radius: 15px;
   width: 530px;
   overflow: scroll;
   height: 600px;

 }
 
 .Hebergements__cellule {
 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1px;
  width: 450px;
  flex-wrap: nowrap;
 
 }
 
 .Hebergements__Cellule--Hotel-C {

   
    box-shadow: 0px 3px 3px rgb(219, 216, 216);
   background-color: white;
   margin: 0px 20px 30px 20px;
   height: 320px;
   width: 485px;
   line-height: 0.6em;
   border-radius: 10px;

 }

 .Hebergements__Cellule--Hotel {
 
   background-color: white;
     margin: 0px 20px 30px 20px;
     height: 320px;
     width: 485px;
    line-height: 0.6em;
   border-radius: 10px;
 }
 
 .Hebergements__cellule img {
 
   width: 475px;
   height: 230px;
   margin-left: 3px;
   margin-top: -8px;
   border-radius: 10px 10px 0 0 ;
 }

 .Hebergements__Cellule--Desc {

   margin-top: 20px;
     margin-left: 13px;
    line-height: 0.7em;
   font-size: 1.2em;
    position: relative;
     bottom: 12px;
}

.Hebergements__Cellule--Hotel-C .Hebergements__Cellule--Desc {

   position: relative;
   top: 5px;
   font-size: 1em;
}
 
 
                                   /*Populaires Medias Querries */
 
 
 .Populaires__titre {
 
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   margin-left: 25px;
   width: 290px;
   font-weight: bolder;
   font-size: 1.1em;
 
 }                                       
 
 
 .Populaires {
 
   background-color:rgb(241, 232, 232);
   width: 350px;
   height: 600px;
   border-radius: 15px;
   position: relative;
   left: 0px;
 
 }
 
 
 .Populaires__Cellule {
 
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin-top: 10px;
   margin-left: 1px;
   width: 230px;
 }

 .Populaires__Cellule img {
                                                           
   width: 120px;
     height: 130px;
   margin-left: 3px;
    margin-top: -8px;
   border-radius: 10px 0 0 10px

}


.Populaires__Cellule--Hotel {

   display: flex;
  flex-direction: row;
  justify-content: flex-start;
   background-color: white;
    margin: 0 20px 30px 20px;
 height: 140px;
    width: 280px;
   line-height: 0.6em;
    border-radius: 10px;

}

.Populaires__Cellule--Desc {
                                                           
   display: flex;
 flex-direction: column ;
  justify-content: flex-start;
line-height: 0.4em;
word-break: normal;
 margin-left: 18px;
 font-size: 1.2em;
 
  }

                                                             /* 3RD SECTION ACTIVITES - QUERRIES - IPHONE*/
 .activites_section  {
 
   margin-top: 50px;
    
 }
 
 .Marseille-align {
 
  margin-left: 25px;
 
 }
 
 .Activites {
 
    
  position: relative;
  left: 45px;
   margin-top: -15px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;
 
 
 }
 
 .Activites img {
 
   border-radius: 15px 15px 0 0;
   margin-left: 0px;
   height: 220px;
   width: 275px;
 }

 
 .Activites figure {
 
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -20px;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(153, 139, 139);
    height: 270px;
    width: 275px;
    
 }

 .Activites h4 {

  margin-left: 18px;
  position:relative ;
  bottom: 10px;

}

 .Activites__Fort-et-Iles {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.Activites__Dame-et-Parc {

 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 
}


                                                                    /* 4TH SECTION FOOTER - QUERRIES IPHONE */  
 .Informations_section {
 
   display:flex;
   flex-direction: row;
   margin-top: 0px;
   height: 290px;
   width: auto;
   background-color: rgba(238, 238, 231, 0.973);
 
 }
 
 .Informations {
 
   
  
   display: flex;
   flex-direction: row;
   align-self: flex-start;


   }
 
 .Informations__A-propos {
 
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 170px; 
    
 }
 
 .Informations__A-propos strong {
 
    font-weight: bolder;
 
 }
 
 .Informations__A-propos p {
 
    font-weight: normal;
 
 }
 
 .Informations__A-propos strong {
 
    font-weight: bolder;
 
 }
 
 .Informations__A-propos p {
 
    font-weight: normal;
 }
 
 
 
