/*MEDIA QUERRIES - Tablette FORMAT */

@media all and (min-width: 540px) and (max-width: 1176px) {
  header .nav ul li {
    margin-right: 10px;
  }

  .hebergements__Populaires {
    display: flex;
    flex-direction: column;
    width: auto;

    margin-top: 20px;
    padding-left: 0px;
  }

  .hebergements {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 98%;

    margin: 10px 1.5% 10px 10px;
  }

  .hebergements__titre h3 {
    margin: 40px 0 10px 10%;
    font-weight: bolder;
    font-size: 1.4em;
  }

  .hebergements__cellule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 78%;
    margin-right: 0;
  }

  .hebergements__Cellule--Hotel {
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    margin: 40px 1.35% 1% 1.35%;
    padding: 5px;
    border-radius: 20px;
    height: auto;
    width: 80%;
  }

  .hebergements__cellule img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .afficher_plus {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 1.2rem;
    height: auto;
    margin: 5% 0 5% 10%;
  }

  .populaires {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 10px 10px 10px 1.5%;
    width: 98%;
  }

  .populaires__Cellule--Desc .rating_Star {
    padding: 0;
    flex-wrap: wrap;
    padding-top: 3%;
  }

  .populaires__Cellule--Desc p {
    font-size: 1.2rem;
    margin: 0;
  }

  .populaires__Cellule--Desc i {
    padding: 0;
    font-size: 1rem;
  }

  .marseille-align {
    margin-left: 1%;
    font-size: 1.1rem;
  }

  /*Activity medium */

  .activites_section {
    width: 100%;
  }

  .marseille-align {
    margin-left: 1.5%;
    font-size: 1.1rem;
  }

  .activites_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .activites_section .activites__Fort-et-Iles {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .activites_section .activites__Dame-et-Parc {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }

  .activites_section .activites__Fort-et-Iles img {
    width: 100%;
  }

  .activites_section .activites__Dame-et-Parc img {
    width: 100%;
  }

  .activites_section .activites__Vieux-Port--align img {
    width: 100%;
  }

  .activites_section .activites__Parc-national-des-Calanques img {
    width: 100%;
  }

  .activites_section img {
    height: 170px;
    max-width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .activity__Part .activites_section figure {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 3px 3px 9px #f2f2f2;
    height: 220px;
    width: 85%;
    max-width: 100%;
    margin-top: 30px;
  }

  h4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 30px 10px;
    font-size: 1.1rem;
  }
}
