/*MEDIA QUERRIES - IPHONE FORMAT */

@media all and (max-width: 500px) {
  /* HEADER QUERRIES IPHONE */

  body {
    margin: 0;
    width: 100%;
  }

  header {
    flex-wrap: wrap;
    width: 100%;
  }

  header .logo {
    margin-left: 20px;
  }

  /* NAVIGATION LINKS - QUERRIES - IPHONE*/

  header .nav {
    order: 3;
    width: 100%;
  }

  header .nav ul {
    padding: 0;
  }

  header .nav ul li {
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  header .nav ul li:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  header .sign-up {
    margin-left: auto;
    margin-right: 20px;
  }

  main:nth-child(1) {
    order: 1;
  }

  /* HEADER -- Filtre - Rubrique - QUERRIES - IPHONE */

  .filtre__recherche input {
    line-height: 2.1em;
    border: 1px solid white;
  }

  .filtre__recherche i {
    width: 25px;
    padding-left: 16px;
    padding-top: 15px;
    background-color: rgb(202, 205, 207);
    border-radius: 10px 0 0 10px;
  }

  form {
    margin-left: 30px;
  }

  label a {
    background-color: #0065fc;
    color: white;
    padding: 10px 17px 12px 10px;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
  }

  .filtre--recherche--align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    left: 15px;
    margin-top: 10px;
    width: auto;
    font-size: 1em;
  }

  .filtre--recherche--align p {
    border-radius: 50px;
    margin-top: 0px;
    padding: 8px;
    flex-wrap: wrap;
    margin-left: 5px;
    width: 180px;
  }

  .align--single {
    font-size: 1.5em;
    width: auto;
  }

  .unbold--single {
    font-weight: normal;
    margin-left: 45px;
  }

  .rubriques {
    flex-wrap: wrap;
  }

  .display-icon-title {
    display: flex;
    margin: 10px 0 10px 10px;
    width: auto;
    text-align: center;
    color: #0065fc;
  }

  .display-icon-title span {
    border-radius: 50px;
    padding: 15px;
  }
  .display-icon-title p {
    margin: 0;
    padding: 8px 0 8px 8px;
  }

  /* 2ND SECTION QUERRIES - IPHONE*/

  /* Hébergements - QUERRIES - IPHONE*/

  .Hebergements_et_Populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: auto;
  }

  .Hebergements__titre h3 {
    margin: 0 0 10px 25px;
    font-size: 1.2em;
  }

  .Hebergements {
    background-color: white;
    width: auto;
  }

  .Hebergements__cellule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    margin-left: 0;
  }

  .Hebergements__Cellule--Hotel {
    border: 1px solid white;
    box-shadow: 3px 3px 3px rgb(219, 216, 216);
    background-color: rgb(255, 255, 255);
    margin: 0px 20px 30px 20px;
    height: 200px;
    width: 310px;
    padding: 0;
    border-radius: 10px;
  }

  .Rating_Star {
    margin: 0;
    padding-left: 10px;
  }

  .Hebergements__Cellule--Hotel p img {
    padding: 2px 2px 0 2px;
    width: 300px;
    height: 115px;
    border-radius: 10px 10px 0 0;
  }

  .Afficher_plus {
    font-weight: 900;
    margin: 5px 0 0 30px;
  }

  /*Populaires Medias Querries */

  .Populaires__titre {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;

    width: auto;
    font-weight: bolder;
    font-size: 1.2em;
  }

  .Populaires__titre h3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .Populaires__titre i {
    padding-top: 25px;
    padding-right: 0;
    padding-left: 30px;
  }

  .Populaires {
    background-color: #f2f2f2;
    width: auto;
    border-radius: 0px;
    height: auto;
    margin-top: 25px;
  }

  .Populaires__Cellule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1px;
    width: auto;
    flex: 1;
  }

  .Populaires__Cellule img {
    width: 120px;
    height: 140px;
    border-radius: 20px 0 0 20px;
  }

  .Populaires__Cellule--Hotel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 20px 30px 20px;
    height: 150px;
    width: auto;
    border-radius: 20px;
  }

  .Populaires__Cellule--Desc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 5px;
  }

  .Populaires__Cellule--Desc .Populaires__Cellule--Desc--Titre,
  .Nuit_Populaires {
    font-size: 1.1rem;
    line-height: 1.5em;
  }

  .Populaires__Cellule--Desc .Rating_Star {
    margin-top: 40px;
  }

  /* 3RD SECTION ACTIVITES - QUERRIES - IPHONE*/

  .activites_section {
    width: auto;
    margin-bottom: 70px;
  }

  .activites_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .activites_section img {
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0 0;
  }

  .activites_section figure {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(153, 139, 139);
    height: 200px;
    width: 300px;
    margin-top: 30px;
  }

  /* 4TH SECTION FOOTER - QUERRIES IPHONE */
  .Informations_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    height: 550px;
    width: 500px;
    background-color: rgba(238, 238, 231, 0.973);
    position: relative;
    top: 900px;
  }

  .Informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: 90px;
  }

  .Informations__A-propos {
    padding-left: 10px;
    margin-left: 5px;
  }

  .Informations__A-propos strong {
    font-weight: bolder;
  }

  .Informations__A-propos p {
    font-weight: normal;
  }
}
