/*MEDIA QUERRIES - IPHONE FORMAT */

@media all and (max-width: 500px) {
  /* HEADER QUERRIES IPHONE */

  body {
    margin: 0;
    width: 100%;
  }

  header {
    flex-wrap: wrap;
    width: 100%;
  }

  header .logo {
    margin-left: 20px;
  }

  /* NAVIGATION LINKS - QUERRIES - IPHONE*/

  header .nav {
    order: 3;
    width: 100%;
  }

  header .nav ul {
    padding: 0;
  }

  header .nav ul li {
    border-bottom: 2px solid #f2f2f2;
    border-top: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  header .nav ul li:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  header .sign-up {
    margin-left: auto;
    margin-right: 20px;
  }

  main:nth-child(1) {
    order: 1;
  }

  /* HEADER -- Filtre - Rubrique - QUERRIES - IPHONE */

  .filtre__recherche input {
    line-height: 2.1em;
    border: 1px solid white;
    width: auto;
    height: 45px;
  }

  .filtre__recherche i {
    height: 33px;
    width: 25px;
    padding-left: 15px;
    padding-top: 10px;
    background-color: rgb(202, 205, 207);
    border-radius: 10px 0 0 10px;
  }

  form {
    margin-left: 20px;
  }

  label a {
    background-color: rgb(10, 105, 247);
    color: white;
    padding: 10px 17px 12px 10px;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    height: 45px;
  }

  .filtre--recherche--align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    left: 15px;
    margin-top: 10px;
    width: auto;
    font-size: 1em;
  }

  .filtre--recherche--align p {
    border-radius: 50px;
    margin-top: 0px;
    padding: 8px;
    flex-wrap: wrap;
    margin-left: 5px;
    width: 180px;
  }

  .align--single {
    position: relative;
    top: 20px;
    font-size: 1.5em;
    width: auto;
  }

  .unbold--single {
    font-weight: normal;
    margin-left: 45px;
  }

  .Rubriques {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
  }

  .displayIconTitle {
    display: flex;
    margin-right: 0px;

    border: 1px solid gray;
    width: 130px;
    height: 20px;
    text-align: center;
    color: rgb(10, 105, 247);
  }

  .displayIconTitle span {
    border-radius: 50px;
    height: 15px;
    width: 20px;
    padding: 20px;
    background-color: #deebff;
  }

  .displayIconTitle p {
    position: relative;
    bottom: 8px;
    right: 25px;
    color: black;
  }

  .displayIconTitleA {
    display: flex;
    margin-right: 0px;
    border: 1px solid gray;
    width: 215px;
    height: 20px;
    text-align: center;
    padding-right: 0px;
    color: rgb(10, 105, 247);
  }

  .displayIconTitleA span {
    border-radius: 50px;
    height: 15px;
    width: 20px;
    padding: 20px;
    background-color: #deebff;
  }

  .displayIconTitleA p {
    position: relative;
    bottom: 8px;
    right: 15px;
    color: black;
  }

  /* 2ND SECTION QUERRIES - IPHONE*/

  /* Hébergements - QUERRIES - IPHONE*/

  .Hebergements_et_Populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: auto;
  }

  .Hebergements__titre {
    padding-top: 30px;
    padding-bottom: 35px;
    margin-left: 25px;
    font-weight: bolder;
    font-size: 1.1em;
    width: auto;
  }

  .Hebergements {
    background-color: white;
    width: auto;
  }

  .Hebergements__cellule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
  }

  .Hebergements__Cellule--Hotel-C {
    border: 1px solid rgb(224, 219, 219);
    box-shadow: 0px 3px 3px rgb(219, 216, 216);
    background-color: white;
    margin: 0px 20px 30px 20px;
    height: 200px;
    width: 310px;
    line-height: 0.6em;
    border-radius: 10px;
  }

  .Hebergements__Cellule--Hotel {
    border: 1px solid white;
    box-shadow: 0px 3px 3px rgb(219, 216, 216);
    background-color: rgb(255, 255, 255);
    margin: 0px 20px 30px 20px;
    height: 200px;
    width: 310px;
    line-height: 0.6em;
    border-radius: 10px;
  }

  .Hebergements__cellule img {
    width: 305px;
    height: 115px;
    margin-left: 3px;
    margin-top: -8px;
    border-radius: 10px 10px 0 0;
  }

  .Hebergements__Cellule--Desc {
    margin-top: 20px;
    margin-left: 13px;
    line-height: 0.6em;
    font-size: 1.2em;
    position: relative;
    bottom: 12px;
  }

  .Hebergements__Cellule--Hotel-C .Hebergements__Cellule--Desc {
    position: relative;
    top: 5px;
    font-size: 1em;
  }

  /*Populaires Medias Querries */

  .Populaires__titre {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-left: 25px;
    width: 290px;
    font-weight: bolder;
    font-size: 1.2em;
  }

  .Populaires {
    background-color: rgb(241, 232, 232);

    width: 350px;
    border-radius: 0px;
    height: 670px;
    margin-top: 25px;
  }

  .Populaires__Cellule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1px;
    width: 320px;
    flex: 1;
  }

  .Populaires__Cellule img {
    width: 120px;
    height: 140px;
    margin-left: 3px;
    margin-top: -8px;
    border-radius: 10px 0 0 10px;
  }

  .Populaires__Cellule--Hotel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    margin: 0 20px 30px 20px;
    height: 150px;
    width: 300px;
    line-height: 0.1em;
    border-radius: 10px;
  }

  .Populaires__Cellule--Desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 0.6em;
    word-break: normal;
    margin-left: 18px;
  }

  /* 3RD SECTION ACTIVITES - QUERRIES - IPHONE*/

  .activites_section {
    width: auto;
    margin-bottom: 70px;
  }

  .Activites {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .Activites img {
    height: 150px;
    width: 300px;
    border-radius: 15px 15px 0 0;
  }

  .Activites figure {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(153, 139, 139);
    height: 200px;
    width: 300px;
  }

  /* 4TH SECTION FOOTER - QUERRIES IPHONE */
  .Informations_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    height: 550px;
    width: 500px;
    background-color: rgba(238, 238, 231, 0.973);
    position: relative;
    top: 900px;
  }

  .Informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: 90px;
  }

  .Informations__A-propos {
    padding-left: 10px;
    margin-left: 5px;
  }

  .Informations__A-propos strong {
    font-weight: bolder;
  }

  .Informations__A-propos p {
    font-weight: normal;
  }
}
