/* 2ND SECTION POPULAIRES*/

.populaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin: 10px;
  width: 900px;
  height: auto;
}

.populaires__titre {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: auto;
  font-weight: bolder;
  font-size: 1.1em;
}

.populaires__titre h3 {
  padding-left: 25px;
}

.populaires__titre i {
  padding-top: 25px;
  padding-right: 20px;
}

.populaires__Cellule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin: auto;
  width: auto;
}

.populaires__Cellule img {
  padding: 5px;
  width: 180px;
  height: 142px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.populaires__Cellule--Hotel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  margin: 0 20px 30px 20px;
  width: auto;
  border-radius: 10px;
}

.populaires__Cellule--Hotel p {
  font-size: 0.8em;
  margin: 0;
}

.populaires__Cellule--Desc {
  width: auto;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 1.1em;
}

.populaires__Cellule--Desc .populaires__Cellule--Desc--Titre,
.nuit_Populaires {
  line-height: 2.5em;
}

.populaires__Cellule--Desc .rating_Star {
  margin-top: 40px;
  padding: 0;
}

.populaires__Cellule--Desc--Titre {
  font-weight: 900;
}

.populaires__Cellule--Desc i {
  padding: 0;
}
