/* 2ND SECTION POPULAIRES*/

.populaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
  width: 35%;
}

.populaires__titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  width: 80%;
  padding-top: 37px;
  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 1.2em;
}

.populaires__titre h3 {
  margin: 0px;
  padding-left: 0px;
}

.populaires__titre i {
  padding-right: 0px;
}

.populaires .populaires__Cellule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 70%;
  margin-top: 20px;
}

.size-p {
  margin: 0;
  width: 80%;
  height: 100%;
}

.populaires__Cellule img {
  padding: 5px 5px 3px 5px;
  width: 100%;
  height: 95%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.populaires .populaires__Cellule--Hotel {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  background-color: white;
  box-shadow: 1px 1px 10px gray;
  margin-bottom: 40px;
  height: 90%;
  border-radius: 20px;
}

.populaires .populaires__Cellule--Desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  width: 100%;
  height: 80%;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 13px;
  margin-bottom: 15px;
}

.p__Cellule--Desc--Title {
}

.populaires__Cellule--Desc p {
  font-size: 1rem;
  margin: 0;
}

.populaires__Cellule--Desc .populaires__Cellule--Desc--Titre,
.nuit_Populaires {
  line-height: 1.5em;
  flex-wrap: wrap;
}

.populaires__Cellule--Desc .rating_Star {
  padding: 0;
  flex-wrap: wrap;
}

.populaires__Cellule--Desc--Titre {
  font-weight: 900;
}

.populaires__Cellule--Desc i {
  padding: 0;
  font-size: 0.9rem;
}

.gray__font {
  color: #f2f2f2;
}
