/* 2ND SECTION POPULAIRES*/

.Populaires {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin: 10px;
  width: 900px;
  height: auto;
}

.Populaires__titre {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: auto;
  font-weight: bolder;
  font-size: 1.1em;
}

.Populaires__titre h3 {
  padding-left: 25px;
}

.Populaires__titre i {
  padding-top: 25px;
  padding-right: 20px;
}

.Populaires__Cellule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin: auto;
  width: auto;
}

.Populaires__Cellule img {
  padding: 5px;
  width: 180px;
  height: 142px;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.Populaires__Cellule--Hotel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  margin: 0 20px 30px 20px;
  height: auto;
  width: auto;
  border-radius: 10px;
}

.Populaires__Cellule--Hotel p {
  font-size: 0.8em;
  margin: 0;
}

.Populaires__Cellule--Desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;

  margin-left: 15px;
  line-height: 2em;
  word-break: normal;
  font-size: 1.1em;
}

.Populaires__Cellule--Desc--Titre {
  font-weight: 900;
}

.Populaires__Cellule--Desc .Rating_Star {
  color: #0065fc;
  padding: 0;
}

.Populaires__Cellule--Desc i {
  padding: 0;
}
