/*MEDIA QUERRIES - Tablette FORMAT */

@media (min-width: 439px) and (max-width: 1160px) {
  main {
    max-width: 100%;
  }

  body {
    margin: auto;
  }

  /* HEADER QUERRIES TABLETTE */

  .filters__searchbar {
    line-height: 2em;
    margin: 30px 0 0 40px;
  }

  .logo {
    margin-bottom: 30px;
    height: 50px;
    width: 90px;
  }

  .logo__devise {
    font-size: 1.1rem;
    line-height: 1em;
  }

  /* Hébergements - QUERRIES - Tablette*/

  .hebergements__Populaires {
    display: flex;
    max-width: 100%;
  }

  .hebergements__titre {
    padding-top: 15px;
    padding: 0 0 20px 0;
    margin-left: 0;
    font-weight: bolder;
    font-size: 1.1em;
  }

  .hebergements {
    background-color: #f2f2f2;
    border-radius: 15px;
    max-width: 100%;
  }

  .hebergements__cellule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1px;

    flex-wrap: wrap;
  }

  .hebergements__Cellule--Hotel {
    background-color: white;
    margin: 0px 20px 30px 20px;
    height: 250px;
    max-width: 100%;
    line-height: 0.6em;
    border-radius: 10px;
  }

  .hebergements__Cellule--Hotel p {
    padding: 0;
  }

  .hebergements__cellule img {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
  }

  .hebergements__Cellule--Hotel .hotel_title {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
  }

  .hebergements__Cellule--Hotel .nuit {
    padding-left: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
  }

  .hebergements__Cellule--Hotel .rating_Star {
    margin-top: 20px;
    padding-left: 10px;
    font-size: 1.3rem;
  }

  .afficher_plus {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 900;
    margin: 30px 0 20px 25px;
  }

  /* Populaires Partie*/

  .populaires {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin: 10px;
    width: 900px;
    max-height: 100%;
  }

  .populaires__Cellule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin-top: 100px;
    max-width: 100%;
  }

  .populaires__Cellule img {
    padding: 5px;
    max-width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
  }

  .populaires .populaires__Cellule--Hotel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    margin: 80px 20px 60px 30px;
    max-width: 100%;
    height: 300px;
    border-radius: 20px;
  }

  .populaires__Cellule--Hotel p {
    font-size: 0.8em;
    margin: 0;
  }

  .populaires__Cellule--Desc {
    width: auto;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 1.5em;
  }

  .populaires__Cellule--Desc .populaires__Cellule--Desc--Titre,
  .nuit_Populaires {
    line-height: 2.9rem;
  }

  .populaires__Cellule--Desc .rating_Star {
    margin-top: 120px;
    padding: 0;
  }

  /* Activity Part*/

  h4 {
    margin: 15px 0 20px 20px;
    padding-left: 20px;
  }

  .activity__Part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    max-width: 100%;
  }

  .marseille-align {
    margin-left: 2%;
  }

  .activites_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
  }

  .activites_section img {
    height: 450px;
    width: 333px;
    border-radius: 15px 15px 0 0;
    width: auto;
    object-fit: cover;
  }

  figure {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgb(211, 206, 206);
    width: auto;
    margin: auto;
  }

  .activites__Fort-et-Iles {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: auto;
  }

  .activites__Dame-et-Parc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: auto;
  }

  h4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0 20px 10px;
  }

  .activites__Vieux-Port--align {
    margin: 16px 20px 16px 20px;
    width: 100%;
  }

  .activites__Fort-de-Pomegues--align {
    height: 280px;
    margin: 16px 20px 16px 20px;
    width: 100%;
  }

  .activites__Fort-de-Pomegues--align img {
    height: 220px;
    width: auto;
  }

  .activites__Iles-du-Frioul--align {
    width: 100%;
    height: 195px;

    margin: 25px 20px 16px 20px;
  }

  .activites__Iles-du-Frioul--align img {
    height: 135px;
    width: auto;
  }

  .activites__Parc-national-des-Calanques {
    width: 100%;

    margin: 25px 20px 16px 20px;
  }

  .activites__Notre-Dame-de-la-Garde--align {
    height: 200px;
    width: auto;
    margin: 25px 20px 16px 20px;
  }

  .activites__Notre-Dame-de-la-Garde--align img {
    height: 150px;
    width: auto;
  }

  .activites__Parc-Longchamp--align {
    height: 268px;
    width: auto;
    margin-top: 30px;
    margin: 25px 20px 16px 20px;
  }

  .activites__Parc-Longchamp--align img {
    height: 210px;
    width: auto;
  }
}
